body{
	margin-top:40px;
	background-color:#DBF9FC;
}
.rr{
	margin-top:-15px;
}
.tr{
	margin-top:-15px;
}
.onr{
	display:flex;
	flex-direction:row;
	justify-content:flex-begin;
}
table{
	margin-top:-15px;
}
thead{
	background-color:purple;
	
}
thead tr th{
	border-left:1px solid gray;
	color:white;
	
}
tbody tr td{
	border-bottom:1px solid gray;
	border-left:1px solid gray;	
}
tbody tr:hover{
	background-color:purple;
}
