*{
    margin: 0;
    padding: 0;
}
.bg{
	min-height: 100vh;
	width: 100%;
	background-image: url(images/IMAGE2.jpg);
	filter: blur(15px);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header{
	min-height: 100vh;
	width: 100%;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
nav{
	display: inline;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

.nav-links{

	flex: 1;
	text-align: center;
	font-size: larger;
	font-style: normal;
}
.nav-links ul li{
	
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	
	color: rgb(255, 3, 129);
	text-decoration: solid;
	font-size: 25px;
	font-weight: bold;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 8px;
	background: hsla(244, 100%, 50%, 0.918);
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	background-color: rgba(255, 255, 255, 0.486);
	background-color: rgba(255, 255, 255, 0.678);
	width: 90%;
	color: hsl(249, 100%, 25%);
	position: absolute;
	font-size: 50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-35%);
	text-align: center;
	font-size: 20px;
	border: solid rgb(255, 3, 129);
}
.C{
	text-align: left;
	margin: 0;
	padding: 20px;
	position: relative;

	min-height: 100vh;
	color: rgb(236, 243, 240);
	background-color: hsla(115, 96%, 18%, 0.918);
}
.ff{
	text-align: left;
	margin: 0;
	padding: 20px;
	position: relative;

	min-height: 100vh;
	color: rgb(222, 222, 226);
	background-color: hsla(115, 96%, 18%, 0.918);
}

.B{
	min-height: 100vh;
	position: relative;
	margin: top 20px;
		margin-top: 15px;
		background-color: hsla(115, 96%, 18%, 0.918;
		border-left:1px solid rgb(25, 83, 122);
		color:rgb(229, 228, 238);
		border-bottom:1px solid rgb(23, 171, 240);
		border-left:1px solid rgb(20, 99, 151);	
		background-color: hsla(115, 96%, 18%, 0.918);
}

