body{
    background-color:white;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    margin:0;
}

#Main-header{
    Background-color:rgb(182, 172, 172);
}

.box-1{
    width:80%;
    margin:auto;
    overflow:hidden;
}

#navbar{
    background-color:white;
    color:black;
    height:80px;
}

#navbar ul{
    padding:0;
    list-style:none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:black;
    text-decoration:none;
    font-family:tahoma;
    font-size:30px;
    padding-right:60px;
    padding-left:40px;
}