table{
	width: 700px;
	border: 1px solid black;
	padding: 10px;
	border-collapse: collapse;
	margin: 10px 120px;
}

th, td {
    
	border: 3px solid; color:  rgb(0, 0, 0);
	padding: 5px;
	border-collapse: collapse;
}
    

h2, h4, h5{ 
	font-size: 20px; color: rgb(0, 0, 0);
	text-align: center;
	padding: 20px 0px;
}

