*{
	padding: 0px;
	margin: 0px;
}

h2{
	font-size: 18px;
	text-align: center;
	padding: 20px 0px;
}

p{
	margin-left: 120px;
	margin-top: 30px;
	margin-bottom: 80px;
}

h4, h5{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 4px;
}

th, td{
	border: 1px solid black;
	padding: 4px;
	border-collapse: collapse;

}

table{
	width: 700px;
	border: 1px solid black;
	padding: 10px;
	border-collapse: collapse;
	margin: 10px 120px;
}

.nd-class{
	margin: 50px 0px;
}

.vali{
	display: inline-flex;
}

