* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url(../img/i\ \(15\).jfif); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: whitesmoke;

}

body,
input {
    font-family: "Lato", sans-serif;
}

:root {
    --bg-color: #020312;
    --text-color: #fff;
    --main-color: #5ea4ff;
    --second-color: gray;
    --other-color: #12141c;
    --h1-font: 3.2rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 10px 5px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    z-index: 1000;
    background: transparent;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease;
}

.logo-brand {
    font-size: 1.5rem;
}

.logo-brand span {
    color: #5ea4ff;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; 
    border-bottom: 3px dotted #5ea4ff;
    font-size: larger;
}

.nav-menu .nav-item {
    list-style-type: none;
}

.nav-item a {
    transition: 0.8s ease;
  
}

.nav-item a:hover{
    color: #5ea4ff;

}

.bars {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.home {
    height: 70vh;
    width: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 140%;
}

.home-text h1 {
    margin: 20px 0;
    font-size: var(--h1-font);
    font-weight: bold;
    line-height: 0.9;
    letter-spacing: 2px;
    /* padding-left: 20px; */
}
.home-text {
    padding-left: 100px;
}
span {
    color: var(--main-color);
}

.home-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color);
}

.home-text p {
    font-weight: 600;
    color: var(---text-color);
    margin-bottom: 3rem;
}


/* start of CV */

.curriculum__vitea {
    /* border: 1px solid rgb(138, 137, 137); */
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.curriculum__vitea .heading {
    text-align: center;
    font-size: var(--h1-font);
    margin-top: 2rem;
    text-decoration: underline;
}

table {
    margin-left: -1rem;
}

table .table-row .table-data {
    font-size: 1.3rem;
}

.education__text {
    font-size: 2rem;
    margin-bottom: 1.3rem;
    text-decoration: underline;
}

.objective__text--paragraph {
    font-size: 1.3rem;
    line-height: 140%;
    font-weight: 400;
    color: var(---text-color);
    margin-bottom: 3rem;
}

.education__heading {
    font-weight: 400;
    line-height: 200%;
}

.education h3 {
    line-height: 140%;
    font-weight: 400;
}

.work___experience,
.personal__ability {
    margin-top: 2rem;
}

.personal__ability ul li {
    line-height: 140%;
    font-size: 1.2rem;
}

.personal__ability ul li span {
    color: #000;
    font-size: 1.5rem;
}

.work___experience>div:nth-last-of-type(2),
.work___experience>div:nth-last-of-type(1) {
    font-size: 1.2rem;
    line-height: 200%;
}

.personal__ability ul li {
    list-style-type: none;
}


/* End of CV */


/* course reg */

.curriculum__vitea .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

.curriculum__vitea .d-flex img {
    height: 8rem;
    width: 11rem;
}


.curriculum__vitea .d-flex div span {
    color: #000;
    line-height: 200%;
    font-size: 1.3rem;
}

.text-center {
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.table {
    width: 850px;
    border-collapse: collapse;
    height: 30px;
    line-height: 20px;
    margin-top: 20px;
}

.table .td,
.table .th {
    /* border: 1px solid rgb(177, 174, 174); */
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.mt-3 {
    text-align: center;
    margin: 1.5rem 0;
}

.text-center p {
    margin-top: 1rem;
}

.corse-reg {
    text-align: center;
    font-size: 2rem;
    
}

.fruit-list {
    font-size: 1.5rem;
    margin-left: -1rem;
    margin-bottom: 1.2rem;
}

.fruit-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}


/* end of course reg */


/* conceptual note */

.conceptual_heading {
    font-size: 3rem !important;
    color: #333;
    text-align: center;
    text-transform: capitalize;
}

.fs-5 {
    font-size: 1.5rem;
    color: #333;
    margin: 2rem 0;
}

.conceptual_list {
    font-size: 2rem !important;
    line-height: 130%;
    color: #000;
}

.conceptual_text h4 {
    font-size: 1.3rem;
    margin-top: 20px;
    color: #333;
    line-height: 200%;
}

.conceptual_text p {
    font-size: 1.2rem !important;
    text-align: left !important;
    line-height: 140%;
}

.conceptual_text p strong {
    font-weight: 900;
    font-size: 2.3rem;
    text-decoration: underline;
    margin-right: 2rem;
}

.p-center {
    text-align: center;
    font-size: 2rem;
}

.conceptual_list li {
    font-size: 1.2rem;
    margin-left: 2rem;
}


/* end of conceptual note */

/* @media (max-width: 992px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bars:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bars:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bars:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: darkgray;
        width: 100%;
        align-items: center;
        transition: 0.3s ease-in-out;
    }
    .nav-item {
        margin: 5px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}

@media (max-width: 720px) {
    .nav-bar {
        padding: 0 24px;
    }
    .home-text h1 {
        font-size: 2rem !important;
    }
    .fruit-items {
        display: block;
        padding: 2rem 5rem;
    }
    .fruit-list {
        margin: 2rem 0;
    }
    .conceptual_heading {
        font-size: 2rem !important;
    }
    table .table-row .table-data {
        font-size: 1rem;
    }
    .education__text {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    .curriculum__vitea .heading {
        font-size: 2.5rem;
    }
} */