body { letter-spacing: 0px;
   font-style: oblique;
   line-height-step: 1px;
   color: coral;
   border-color: coral;
}
.wrapper{
        background: url(SICT.jpg) 
        no-repeat center center;
        min-height: 30rem;
        background-color: #333;
    

    }

