body {
    height: 100vh;
}

.assignment {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 6rem;
    justify-content: center;
}

.table,
th,
td {
    border: 1px solid black;
    /* border-collapse: collapse; */
    text-align: center;
}

table {
    height: 20rem;
    width: 25rem;
}
.table_1{
    border: none;
    gap: 1rem;
}