body{
    Background-color:rgb(184, 174, 174);
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.5em; 
    margin:0;
}

.box-1{
    width:80%;
    margin:auto;
    overflow:hidden;
}

#main-header{
    background-color:rgb(63, 205, 151);
    font-size:17px;
    color:#333333;
}

#main-header h2{
    float:center;
}

#sidebar{
    float:left;
    width:50%;
}

#main{
    float:right;
    width:50%;
}
